
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}



header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    background-size: 300px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: ;
    height: 100px;
    font-weight:lighter;
}

header a{
    text-decoration: none;
    color: #fca311;
    font-weight: 500;
    border-right: #fca311;

}

#home{
    display: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.text-home{
    position: center;
    display:center;
    padding: 15% 25%;
}

#home h1{
    font-size: 40px;
    margin-bottom: 40px;
}

#home img{
    width: 100%;
    height: 100%;
    margin: 0;
}

#home button{
    border: 15px solid #fca311;
    background-color: #fca311;
    color: white ;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 40px;
}

#sobre{
    flex-direction: row;
    display: flex;
}

#sobre img{
    display: flex;
    margin-left: 50px;
    margin-top: 2%;
    width: 40%;
    height: 70%;
    justify-content: left;
    border-radius: 35px;
}
.texto-sobre{
    margin-left: 10%;
    width: 40%;
    height: 40%;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.texto-sobre h1{
    margin-bottom: 5%;
}

.sobre-botao{
    display: flex;
    justify-content: left;
    margin-top: 5%;
}
.sobre-botao button{
    border: 15px solid #fca311;
    background-color: #fca311;
    color: white ;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}