*{
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem ;
    font-family: 'Roboto', sans-serif;
}

:root{
    --cor-primaria: #fca311;
    --cor-secundaria: #000000;
}

/* Header */

header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 25, 25);
    background-size: 300px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    height: 100px;
    font-weight:lighter;
    border-bottom: 1px solid #fca311;
}

header img{
    width: 150px;
}

header a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border-right: #000000;

}

/* Aba Home */

#home{
    background-image: linear-gradient(to right,black,rgb(33, 33, 33));
    display: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


.text-home{
    position: center;
    display:center;
    padding: 10% 25%;
    color: #FFFFFF;
}
.text-home img{
    padding-bottom: 50px;
}

#home h1{
    font-size: 40px;
    margin-bottom: 40px;
}

#home img{
    width: 100%;
    height: 100%;
    margin: 0;
}

#home button{
    border: none;
    background-color: #fca311;
    color: white ;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 30px;
}

/* Aba Sobre */

#sobre{
    padding-top: 100px;
    background-image: linear-gradient(to right,black,rgb(33, 33, 33));
    flex-direction: row;
    display: flex;
}

#sobre img{
    display: flex;
    margin-left: 250px;
    width: 420px;
    height: 430px;
    justify-content: left;
    border-radius: 85px;
}
.texto-sobre{
    margin-left: 10%;
    width: 40vw;
    height: 40vh;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.texto-sobre h1{
    margin-bottom: 5%;
}

.sobre-botao{
    display: flex;
    justify-content: left;
    margin-top: 5%;
}
.sobre-botao button{
    border: none;
    background-color: #fca311;
    color: white ;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

/* Aba do Porque */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

#Porque{
    padding-top: 200px;
    background-image: linear-gradient(to right,black,rgb(33, 33, 33));
}

.container-card-desk {
    width: 33.33%;
    padding: 0 15px;
    box-sizing: flex;
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    margin-right: 200px;
}

.card {
    height: 150px;
    width: 200px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
    background-color: #202020;
    border: 3px solid #fca311;
    border-radius: 40px;
}

.user {
    width: 225px;
    height: 150px;
}
.card img{
    border-radius: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.desc {
    margin-left: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: white;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    font-size: 30px;
    color: #fca311;
}

.desc h1{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.desc h3{
    font-size: 15px;
    font-weight: 500;
}

/* Aba do Serviços */

.heading{
    text-align: center;
    text-transform: uppercase;
}

.heading h1{
    font-size: 2rem;
    color:#fca311;
    padding: 30px;
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box{
    flex: 1 1 30rem;
    background: rgb(32, 32, 32);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
    margin: 50px;
}

#imagem{
    width: 150px;
    height: 150px;
}

.shop-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.shop-container .box .box-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

}

.stars{
    margin: 1rem 0 0.1rem;
}

.shop-container .box .stars .bx{
    color: rgb(255, 255, 255);
}

.shop-container .box h2{
    color: rgb(255, 255, 255) ;
    font-size: 1.2rem;
}

.shop-container .box span{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.shop{
    padding-top: 200px;
    background-image: linear-gradient(to right,black,rgb(33, 33, 33));
    font-family: 'Roboto', sans-serif;
}

.botao-servico{
    font-size: 20px;
    padding: 15px 30px;
    border: 0;
    border-radius: 15px;
    color: white;
    font-family: 400;
    background: black;
    cursor: pointer;

}

.box .btn:hover{
    background-color: blue;
    color:black
}

/* Nosso Time */ 

#time{
    padding-top: 200px;
    background-image: linear-gradient(to right,black,rgb(33, 33, 33));
}

.intro-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.box{
    margin: 20px;
    flex: 1 1 10rem;
    background: rgb(32, 32, 32);
    padding: 1px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}
.box-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.stars{
    margin: 1rem 0 0.1rem;
    border: 15px;
    color: var(--cor-primaria);
}

.box h2{
    color: #fca311 ;
    font-size: 1.2rem;
}

.box span{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.botao-time{
    margin-bottom: 15px;
    font-size: 20px;
    padding: 15px 30px;
    border: 0;
    border-radius: 15px;
    color: white;
    font-family: 400;
    background: #cf7f06;
    cursor: pointer;
}

/* Aba de Contato */

.cabecalho{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    justify-content: center;
    display: flex;
    margin-top: 20%;
    margin-bottom: 5%;
    color: var(--cor-primaria)
}

.contato{
    height: 500px;
    width: 500px;
    margin-left: 5%;
    float: left;
}

.endereco img{
    border-radius: 10px;
    margin: 3px;
    height: 110px;
    width: 110px;
}

.endereco{
    display: flex;
    color: white;
}

.localizacao{
    flex-direction: column;
    display: flex;
}

.telefone img{
    margin: 3px;
    height: 110px;
    width: 110px;
    background-color: #FFFFFF;
    border-radius: 90px;
    border: 2px;
}

.telefone{
    display: flex;
    color: white;
}

.cell{
    flex-direction: column;
    display: flex;
}

.email img{
    border-radius: 10px;
    margin: 3px;
    height: 110px;
    width: 110px;
}

.email{
    display: flex;
    color: white;
}

.correio{
    flex-direction: column;
    display: flex;
}



.texto-contato{
    margin-left: 250px;
    height: 100px;
    width: 590px;
    float: left;
    flex-direction: column;
    
}

.nome{
    border: 1px solid #000000;
    border-radius: 10px;
    height: 50px;
    width: 246px;
}

.txt{
    border: 1px solid #000000;
    border-radius: 10px;
    height: 50px;
    width: 246px;

}

.descricao input{
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 200px;
    width: 500px;
    float: left;
}

.enviar{
    margin: 5px;
    border: 1px solid #000000;
    background-color: #f77f00;
    color: white;
    border-radius: 10px;
    height: 35px;
    width: 65px;
    margin-left: 440px;
}

body{
    background-image: linear-gradient(to right,black,rgb(33, 33, 33));
}